<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Calculator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>47178CA01C3A845000A0A79E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>47178CB41C3A845100A0A79E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>47178CBF1C3A845100A0A79E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
